nav{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}


#navbar{
    background-color:#78196e;
}
#navbar img{
    float: left;
    margin: 10px 10px;
}
#navbarNav{
    margin: 10px 10px 10px 10px;
}
#navbarNav a{
    color: #fff;
}
#navbarNav a:hover{
    color: #000;
}

.button button{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border-style:none;
}

.carousel img{
    width:100%;
    height:700px;
}

#header-gallery{
    background-image: url(../img/gallery/header/Lippo-Mall-Sidoarjo-2.png);
    height: 250px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.image-location img{
    padding:5px;
    width: 350px;
}

.horizontal_dotted_line {
    border-bottom: 1px dotted #ff0000;
    width: 100%;
    margin: 10px;
    padding:10px
  }
#carouselExampleControls img{
    height: 50%;
}
#carouselExampleControls button{
   height: 60%;
}
.carousel-inner{
    height: 20%;
    width: 100%;
}
.promotion-image img{
    width: 100%;
    height: auto;
    padding: 10px;
    
}
.border{
    margin-top: 20px;
    margin-bottom: 20px;
}
#locations-list {
    list-style: none; /* Menghilangkan bullet points */
    padding: 0; /* Menghilangkan padding bawaan pada daftar */
    margin: 0; /* Menghilangkan margin bawaan pada daftar */
  }
  #wpsl-result-list {
    flex: 1; /* Mengisi ruang tersisa dalam container flex */
    overflow-y: auto; /* Aktifkan overflow dengan scrollbar pada sumbu Y jika diperlukan */
    max-height: 80vh; /* Set tinggi maksimum agar tidak melebihi 80% dari tinggi viewport */
    min-height: 20vh; /* Set tinggi minimum agar tidak kurang dari 20% dari tinggi viewport */
  }
#wpsl-stores {
    max-height: 400px; /* Atur tinggi maksimum untuk daftar */
    overflow-y: auto; /* Aktifkan scrollbar jika kontennya melebihi tinggi maksimum */
  }
#googleMap{
    margin-top: 10px;
}